<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <a class="navbar-brand" href="./">
                <img alt="Brand" src="images/logo.png">
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" title="Профиль"><span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="#" title="Настройки"><span class="glyphicon
                glyphicon-cog"></span></a></li>
                <li><a href="#/login">Вход</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span><span class="caret "></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Анализ Ошибок</a></li>
                        <li><a href="#">Привязка слов</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Поиск по словарю</a></li>
                        <li><a href="#">Поиск похожих слов</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Статистика сочетаний</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
