<legend>Sign in</legend>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
</div>
    <br/>
<div class="input-group">
    <input type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
</div>
    <hr/>
    <button type="submit" class="btn">Sign in</button>
