<!--<form class="user-login" action="">-->
    <legend>Sign in</legend>
    <label>User Name</label>
    <input type="text" name="username" />
    <label>Password</label>
    <input type="password" name="password" />
    <hr/>
    <button type="submit" class="btn">Sign in</button>
<!--</form>-->
