<!--<ul class="sidebar-nav">-->
    <!-- Модули -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-expanded="false">Модули
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">1-Буквенные</a></li>
            <li><a href="#">2-Буквенные</a></li>
            <li><a href="#">3-Буквенные</a></li>
            <li><a href="#">4-Буквенные</a></li>
            <li class="divider"></li>
        </ul>
    </li>
    <!-- Корни -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Корни
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">1-Буквенные</a></li>
            <li><a href="#">2-Буквенные</a></li>
            <li><a href="#">3-Буквенные</a></li>
            <li><a href="#">4-Буквенные</a></li>
        </ul>
    </li>
    <!-- Словари -->
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
           role="button" aria-expanded="false">Словари
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Разрешеные</a></li>
            <li><a href="#">Карантинные</a></li>
            <li><a href="#">Запрещенные</a></li>
            <li><a href="#">Неразобранные</a></li>
            <li role="presentation" class="divider"></li>
            <li><a href="#">2-граммы</a></li>
            <li><a href="#">3-граммы</a></li>
            <li><a href="#">4-граммы</a></li>
        </ul>
    </li>
    <!-- Разное -->
    <li><a href="#">История запросов</a></li>
    <li><a href="#">Настройки</a></li>
    <li><a href="#">Выход</a></li>
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
        <span id="toggle-left" class="glyphicon glyphicon-chevron-left"></span>
    </a>
<!--</ul>-->
